/* Participant Guide Styles */

@page {
    size: letter;
    margin: 0.75in;
    @bottom-center {
        content: counter(page);
        font-size: 10pt;
        color: #666;
    }
}

body {
    font-family: "Georgia", "Times New Roman", serif;
    font-size: 11pt;
    line-height: 1.5;
    color: #333;
}


/* Title Page */

.title-page {
    text-align: center;
    padding-top: 2in;
    page-break-after: always;
}

.title-page h1 {
    font-size: 28pt;
    color: #1a365d;
    margin-bottom: 0.5em;
}

.title-page h2 {
    font-size: 20pt;
    color: #2c5282;
    font-weight: normal;
    margin-bottom: 0.3em;
}

.title-page h3 {
    font-size: 16pt;
    color: #4a5568;
    font-weight: normal;
    font-style: italic;
}


/* Page Breaks */

.page-break {
    page-break-after: always;
}


/* Headings */

h1 {
    font-size: 18pt;
    color: #1a365d;
    border-bottom: 2px solid #2c5282;
    padding-bottom: 0.3em;
    margin-top: 1.5em;
    margin-bottom: 0.8em;
}

h2 {
    font-size: 14pt;
    color: #2c5282;
    margin-top: 1.2em;
    margin-bottom: 0.6em;
}

h3 {
    font-size: 12pt;
    color: #4a5568;
    margin-top: 1em;
    margin-bottom: 0.5em;
}


/* Tables */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
    font-size: 10pt;
}

th,
td {
    border: 1px solid #cbd5e0;
    padding: 0.5em;
    text-align: left;
}

th {
    background-color: #edf2f7;
    font-weight: bold;
    color: #2d3748;
}

tr:nth-child(even) {
    background-color: #f7fafc;
}


/* Blockquotes */

blockquote {
    border-left: 4px solid #2c5282;
    margin: 1em 0;
    padding: 0.5em 1em;
    background-color: #f7fafc;
    font-style: italic;
    color: #4a5568;
}


/* Lists */

ul,
ol {
    margin: 0.8em 0;
    padding-left: 1.5em;
}

li {
    margin-bottom: 0.3em;
}


/* Emphasis */

strong {
    color: #1a365d;
}

em {
    color: #4a5568;
}


/* Horizontal Rules */

hr {
    border: none;
    border-top: 1px solid #cbd5e0;
    margin: 1.5em 0;
}


/* Notes Section */

.notes-line {
    border-bottom: 1px solid #cbd5e0;
    height: 1.5em;
    margin: 0.5em 0;
}


/* Prayer Formatting */

.prayer {
    background-color: #f7fafc;
    border: 1px solid #e2e8f0;
    padding: 1em;
    margin: 1em 0;
    border-radius: 4px;
}


/* Scripture References */

.scripture {
    font-style: italic;
    color: #2c5282;
}


/* Session Headers */

.session-header {
    background-color: #1a365d;
    color: white;
    padding: 0.5em 1em;
    margin: 1em 0;
    border-radius: 4px;
}


/* Print Optimizations */

@media print {
    body {
        font-size: 11pt;
    }
    a {
        color: #333;
        text-decoration: none;
    }
    .no-print {
        display: none;
    }
}
